*.so
__pycache__
*.egg-info/
.ipynb_checkpoints/
notebooks/**/*.npz
notebooks/**/*.txt
notebooks/**/*.eps
!notebooks/pictures/*.eps
notebooks/**/*.jpg
!notebooks/pictures/*.jpg
notebooks/**/*.gif
!notebooks/pictures/*.gif
!notebooks/wigner_function/pictures/*.eps
dependencies/*
build/*
venv/*
wheels/*
tests/test_artifacts/*
.virtual_documents/*