*.so
__pycache__
*.egg-info/
tutorials/.ipynb_checkpoints/*
tutorials/**/*.npz
tutorials/**/*.txt
tutorials/**/*.eps
!tutorials/pictures/*.eps
tutorials/**/*.jpg
!tutorials/pictures/*.jpg
tutorials/**/*.gif
!tutorials/pictures/*.gif
dependencies/*
build/*
venv/*
wheels/*
tests/test_artifacts/*
